.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;

    h1{
        text-align: center;
        margin-bottom: 20px;
    }
  .container {
    

    .user-reg{
        width: 400px;
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
      
            input {
              padding: 10px;
              border: 1px solid rgb(0, 74, 109);
      
            }
            button {
              padding: 10px;
              cursor: pointer;
              border: 1px solid rgb(0, 74, 109);
            }
          }
    }
  }
}
